In [105]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', None)

In [3]:
prospect_df = pd.read_excel('/home/darshan/dev/AI_ML_Projects/schneider_electric /data/Schneider Electric Data/Email_Enagement_Data/SE Projects Consolidated File.xlsx')

prospect_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156043 entries, 0 to 156042
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Project Name            156043 non-null  object
 1   Delivery Status         156043 non-null  object
 2   Company Name            156043 non-null  object
 3   First Name              156042 non-null  object
 4   Middle Name             6033 non-null    object
 5   Last Name               156042 non-null  object
 6   Title                   156043 non-null  object
 7   Level                   142987 non-null  object
 8   Department              142987 non-null  object
 9   Email ID                156040 non-null  object
 10  Domain                  132996 non-null  object
 11  Contact Phone Number    85186 non-null   object
 12  Company Phone Number    127765 non-null  object
 13  Direct Dial             2271 non-null    object
 14  Mobile                  13919 non-null   object
 15  Contact_Street1         3 non-null       object
 16  Contact_Street2         0 non-null       float64
 17  Contact_City            133182 non-null  object
 18  Contact_State           116263 non-null  object
 19  Contact_Zipcode         5183 non-null    object
 20  Country                 155851 non-null  object
 21  Website                 144300 non-null  object
 22  Contact Linkedin URL    113155 non-null  object
 23  Company Street 1        140353 non-null  object
 24  Company Street 2        15463 non-null   object
 25  Company City            149115 non-null  object
 26  Company State           138500 non-null  object
 27  Company Post Code       83733 non-null   object
 28  Company Country         154396 non-null  object
 29  Company LI Profile Url  149434 non-null  object
 30  Industry                154688 non-null  object
 31  SUB Industry            154688 non-null  object
 32  Revenue                 154693 non-null  object
 33  Revenue Range           109464 non-null  object
 34  EMP Range               154698 non-null  object
dtypes: float64(1), object(34)
memory usage: 41.7+ MB

In [4]:
prospect_df.head(5)

  Project Name Delivery Status Company Name First Name Middle Name Last Name                                     Title Level  Department                       Email ID          Domain Contact Phone Number Company Phone Number   Direct Dial        Mobile Contact_Street1  Contact_Street2 Contact_City Contact_State Contact_Zipcode        Country             Website                               Contact Linkedin URL       Company Street 1 Company Street 2 Company City Company State Company Post Code Company Country                     Company LI Profile Url Industry    SUB Industry Revenue Revenue Range EMP Range
0   Microgrids      Delivery 1   Albertsons     Miller         NaN   Roxanne                   Chief Financial Officer   CXO     Finance  miller.roxanne@albertsons.com  albertsons.com         817-568-3646         208-395-6200           NaN           NaN             NaN              NaN    Pocatello            ID             NaN  United States  www.albertsons.com  https://www.linkedin.com/in/miller-roxanne-75a...  250 E Parkcenter Blvd              NaN        Boise            ID               NaN   United States  https://www.linkedin.com/company/24793171   Retail  Grocery Retail  $79.5B          10B+   10,000+
1   Microgrids      Delivery 1   Albertsons    Michael         NaN      Rich                Director Corporate Finance   Dir     Finance    michael.rich@albertsons.com  albertsons.com         208-395-6465         208-395-6200  208-395-6465  208-258-4014             NaN              NaN     Meridian            ID             NaN  United States  www.albertsons.com  https://www.linkedin.com/in/michael-rich-11b26111  250 E Parkcenter Blvd              NaN        Boise            ID               NaN   United States  https://www.linkedin.com/company/24793171   Retail  Grocery Retail  $79.5B          10B+   10,000+
2   Microgrids      Delivery 1   Albertsons     Barach         NaN    Fugitt  Director Financial Planning and Analysis   Dir     Finance   barach.fugitt@albertsons.com  albertsons.com         925-963-5639         208-395-6200           NaN  925-963â€‘5639             NaN              NaN        Boise            ID             NaN  United States  www.albertsons.com           https://www.linkedin.com/in/barachfugitt  250 E Parkcenter Blvd              NaN        Boise            ID               NaN   United States  https://www.linkedin.com/company/24793171   Retail  Grocery Retail  $79.5B          10B+   10,000+
3   Microgrids      Delivery 1   Albertsons       Teri         NaN   Wiggins                          Director Finance   Dir     Finance    teri.wiggins@albertsons.com  albertsons.com         208-395-3660         208-395-6200  208=395-3660  208-863-5953             NaN              NaN        Boise            ID             NaN  United States  www.albertsons.com   https://www.linkedin.com/in/teri-wiggins-801267a  250 E Parkcenter Blvd              NaN        Boise            ID               NaN   United States  https://www.linkedin.com/company/24793171   Retail  Grocery Retail  $79.5B          10B+   10,000+
4   Microgrids      Delivery 1   Albertsons        Kat         NaN      Chin            Sr Director Strategic Sourcing   Dir  Operations        kat.chin@albertsons.com  albertsons.com         510-303-3597         208-395-6200           NaN  510-303â€‘3597             NaN              NaN          NaN           NaN             NaN  United States  www.albertsons.com      https://www.linkedin.com/in/kat-chin-05675539  250 E Parkcenter Blvd              NaN        Boise            ID             83706   United States  https://www.linkedin.com/company/24793171   Retail  Grocery Retail  $79.5B          10B+   10,000+

In [5]:
# List of columns to keep
columns_to_keep = [
    "Project Name", "Delivery Status", "Title", "Level", "Department",
    "Contact_City", "Contact_State", "Contact_Zipcode", "Country",
    "Company City", "Company State", "Company Post Code", "Company Country",
    "Industry", "SUB Industry", "Revenue", "Revenue Range", "EMP Range"
]

# Get removed columns dynamically
removed_columns = list(set(prospect_df.columns) - set(columns_to_keep))

# Create new DataFrame with only the selected columns
prospect_use_cln_df = prospect_df[columns_to_keep]

# Print removed columns
print("Removed Columns:", removed_columns)

Removed Columns: ['Contact_Street1', 'Company Phone Number', 'Company LI Profile Url', 'Domain', 'First Name', 'Last Name', 'Mobile', 'Contact Linkedin URL', 'Website', 'Direct Dial', 'Company Name', 'Middle Name', 'Email ID', 'Company Street 1', 'Contact_Street2', 'Company Street 2', 'Contact Phone Number']

In [6]:
prospect_use_cln_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156043 entries, 0 to 156042
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Project Name       156043 non-null  object
 1   Delivery Status    156043 non-null  object
 2   Title              156043 non-null  object
 3   Level              142987 non-null  object
 4   Department         142987 non-null  object
 5   Contact_City       133182 non-null  object
 6   Contact_State      116263 non-null  object
 7   Contact_Zipcode    5183 non-null    object
 8   Country            155851 non-null  object
 9   Company City       149115 non-null  object
 10  Company State      138500 non-null  object
 11  Company Post Code  83733 non-null   object
 12  Company Country    154396 non-null  object
 13  Industry           154688 non-null  object
 14  SUB Industry       154688 non-null  object
 15  Revenue            154693 non-null  object
 16  Revenue Range      109464 non-null  object
 17  EMP Range          154698 non-null  object
dtypes: object(18)
memory usage: 21.4+ MB

In [10]:
# Identify categorical columns and count unique values
categorical_counts = {
    col: prospect_use_cln_df[col].nunique()
    for col in prospect_use_cln_df.select_dtypes(include=['object']).columns
}

# Print categorical column names and their unique category count
for col, count in categorical_counts.items():
    print(f"Column: {col}, Unique Categories: {count}")

Column: Project Name, Unique Categories: 14
Column: Delivery Status, Unique Categories: 7
Column: Title, Unique Categories: 71919
Column: Level, Unique Categories: 6
Column: Department, Unique Categories: 11
Column: Contact_City, Unique Categories: 6549
Column: Contact_State, Unique Categories: 119
Column: Contact_Zipcode, Unique Categories: 973
Column: Country, Unique Categories: 4
Column: Company City, Unique Categories: 877
Column: Company State, Unique Categories: 150
Column: Company Post Code, Unique Categories: 849
Column: Company Country, Unique Categories: 45
Column: Industry, Unique Categories: 24
Column: SUB Industry, Unique Categories: 109
Column: Revenue, Unique Categories: 614
Column: Revenue Range, Unique Categories: 10
Column: EMP Range, Unique Categories: 24

# Cleaning

## Clean Revuenue

In [41]:
import re

def clean_revenue(value):
    """Cleans revenue values by converting valid values to numbers and marking invalid values as NaN."""
    if isinstance(value, (int, float)):  # If already a number, return as is
        return value
    if isinstance(value, str):
        value = value.replace(",", "").replace("$", "").strip()  # Remove symbols and spaces
        match = re.fullmatch(r"(\d+(\.\d+)?)\s*([MB]?)", value)  # Allow space before 'M' or 'B'
        if match:
            num, _, suffix = match.groups()
            multipliers = {"M": 1_000_000, "B": 1_000_000_000}
            return float(num) * multipliers.get(suffix, 1)  # Convert using multiplier
    return None  # Invalid values become NaN

In [45]:
# Apply function to Revenue column
prospect_use_cln_df["Clean Revenue"] = prospect_use_cln_df["Revenue"].apply(clean_revenue)

/tmp/ipykernel_317887/1765387001.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean Revenue"] = prospect_use_cln_df["Revenue"].apply(clean_revenue)

In [55]:
filtered_df = prospect_use_cln_df[(prospect_use_cln_df["Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna())]

filtered_df["Revenue"].nunique()

11

In [53]:
filtered_df = prospect_use_cln_df[(prospect_use_cln_df["Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna())]

filtered_df["Revenue Range"].nunique()

0

In [56]:
prospect_use_cln_df.loc[
    (prospect_use_cln_df["Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna()), 
    "Revenue Range"
] = prospect_use_cln_df["Revenue"]

In [57]:
filtered_df = prospect_use_cln_df[(prospect_use_cln_df["Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna())]

filtered_df["Revenue Range"].nunique()

11

## Clean Revenue Range

In [58]:
prospect_use_cln_df['Revenue Range'].nunique()

13

In [59]:
prospect_use_cln_df['Revenue Range'].unique()

array(['10B+', '10M - 50M', '100M - 250M', '1B - 10B', '1M - 10M',
       '250M - 500M', '500M - 1B', '50M - 100M', nan, '0 - 1M', '$10B+',
       '100M - 1B', '$500M - $1B', '$11M - $100M'], dtype=object)

In [60]:
import re

def clean_revenue_range(value):
    if isinstance(value, str):
        value = value.replace("$", "").strip()  # Remove $ sign and strip spaces
        match = re.match(r"^\d+M \- \d+M$|^\d+M \- \d+B$|^\d+B \- \d+B$|^\d+B\+$|^0 \- 1M$|^\d+M \- \d+B$", value)
        if match:
            return value  # Return valid revenue range
    return None  # Invalid values converted to None

In [61]:
# Apply function to Revenue Range column
prospect_use_cln_df["Clean Revenue Range"] = prospect_use_cln_df["Revenue Range"].apply(clean_revenue_range)

/tmp/ipykernel_317887/1615421219.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean Revenue Range"] = prospect_use_cln_df["Revenue Range"].apply(clean_revenue_range)

In [62]:
prospect_use_cln_df[prospect_use_cln_df["Revenue Range"].notna() & prospect_use_cln_df["Clean Revenue Range"].isna()].head(5)

Empty DataFrame
Columns: [Project Name, Delivery Status, Title, Level, Department, Contact_City, Contact_State, Contact_Zipcode, Country, Company City, Company State, Company Post Code, Company Country, Industry, SUB Industry, Revenue, Revenue Range, EMP Range, Clean Revenue, Clean Revenue Range]
Index: []

In [64]:
prospect_use_cln_df['Clean Revenue Range'].nunique()

11

In [69]:
prospect_use_cln_df.shape

(156043, 20)

In [67]:
prospect_use_cln_df[prospect_use_cln_df["Clean Revenue Range"].isin(["11M - 100M", "100M - 1B"])][["Clean Revenue Range", "Clean Revenue", "Revenue"]].info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 137187 to 138748
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Clean Revenue Range  37 non-null     object
 1   Clean Revenue        0 non-null      float64
 2   Revenue              37 non-null     object
dtypes: float64(1), object(2)
memory usage: 1.2+ KB

## Clean Employee Range

In [83]:
prospect_use_cln_df["EMP Range"].nunique()

24

In [84]:
prospect_use_cln_df["EMP Range"].unique()

array(['10,000+', '51 - 200', '201 - 500', '11-50', '1,001 - 5,000',
       '5,001 - 10,000', '501 - 1,000', '1-10', nan, '201-500', '51-200',
       '501-1,000', '1 - 10', '11 - 50', '51 - 200 ', '1,001 - 5,000 ',
       '201 - 500 ', '501 - 1,000 ', '10,001+', '5,001-10,000',
       '1,001-5,000', datetime.datetime(1950, 11, 1, 0, 0), '10000+',
       '501-1000', 3300], dtype=object)

In [124]:
def clean_emp_range(value):
    if pd.isna(value) or isinstance(value, datetime):
        return None

    value = str(value).strip().replace(",", "")
    value = str(value).strip().replace(" ", "")

    if value in {"10000+", "10001+"}:
        return "10,000+"
    
    emp_ranges = {
        "1 - 10": ["1-10", "1 - 10"],
        "11 - 50": ["11-50", "11 - 50"],
        "51 - 200": ["51-200", "51 - 200", "51 - 200 "],
        "201 - 500": ["201-500", "201 - 500", "201 - 500 "],
        "501 - 1,000": ["501-1000", "501-1,000", "501 - 1,000", "501 - 1,000 "],
        "1,001 - 5,000": ["1001-5000", "1,001-5,000", "1,001 - 5,000", "1,001 - 5,000 ", "1,001 - 5,000"],
        "5,001 - 10,000": ["5001-10000", "5,001-10,000", "5,001 - 10,000"],
    }

    for clean_range, variations in emp_ranges.items():
        if value in variations:
            return clean_range

    return None


def clean_emp_size(value):
    if isinstance(value, (int, float)):
        return value
    return np.nan

In [125]:
prospect_use_cln_df["Clean EMP Range"] = prospect_use_cln_df["EMP Range"].apply(clean_emp_range)

/tmp/ipykernel_317887/1695644433.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean EMP Range"] = prospect_use_cln_df["EMP Range"].apply(clean_emp_range)

In [126]:
prospect_use_cln_df["Clean EMP Range"].unique()

array(['10,000+', '51 - 200', '201 - 500', '11 - 50', '1,001 - 5,000',
       '5,001 - 10,000', '501 - 1,000', '1 - 10', None], dtype=object)

In [129]:
filtered_df = prospect_use_cln_df[(prospect_use_cln_df["EMP Range"].notna()) & (prospect_use_cln_df["Clean EMP Range"].isna())]
filtered_df.head(5)

          Project Name Delivery Status                                   Title  Level  Department Contact_City Contact_State Contact_Zipcode Country      Company City Company State Company Post Code Company Country           Industry                SUB Industry      Revenue Revenue Range            EMP Range  Clean Revenue Clean Revenue Range Clean EMP Range  Clean EMP Size  Clean Size
138355  HQL for Mexico      Delivery 3                Manager Business Finance    Mgr     Finance  Mexico City           NaN             NaN  Mexico        Saint Paul     Minnesota             55144   United States  Consumer Services          Photography Studio     1M - 10M      1M - 10M  1950-11-01 00:00:00      5500000.0            1M - 10M            None             NaN         NaN
139562  HQL for Mexico      Delivery 5            Maintenance Leadership Xplor  Staff  Operations          NaN           NaN             NaN  Mexico  Playa Del Carmen           NaN             77710          Mexico        Hospitality  Travel Agencies & Services  100M - 250M   100M - 250M                 3300    175000000.0         100M - 250M            None          3300.0         NaN
139563  HQL for Mexico      Delivery 5  Deputy Manager of Maritime Maintenance    Mgr  Operations          NaN  Quintana Roo             NaN  Mexico  Playa Del Carmen           NaN             77710          Mexico        Hospitality  Travel Agencies & Services  100M - 250M   100M - 250M                 3300    175000000.0         100M - 250M            None          3300.0         NaN

In [130]:
prospect_use_cln_df["Clean EMP Size"] = prospect_use_cln_df["EMP Range"].apply(clean_emp_size)

/tmp/ipykernel_317887/2319274900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean EMP Size"] = prospect_use_cln_df["EMP Range"].apply(clean_emp_size)

In [131]:
prospect_use_cln_df["Clean EMP Size"].count()

np.int64(2)

# Fill Empty Value

## Fill Clean Revuene and Clean Revuene Range

In [72]:
def generate_revenue_range(revenue):
    if pd.isna(revenue):
        return None  # Return None for missing values

    try:
        revenue = float(revenue)  # Ensure revenue is a numeric value
        if revenue < 1_000_000:
            return "0 - 1M"
        elif 1_000_000 <= revenue < 10_000_000:
            return "1M - 10M"
        elif 10_000_000 <= revenue < 50_000_000:
            return "10M - 50M"
        elif 50_000_000 <= revenue < 100_000_000:
            return "50M - 100M"
        elif 100_000_000 <= revenue < 250_000_000:
            return "100M - 250M"
        elif 250_000_000 <= revenue < 500_000_000:
            return "250M - 500M"
        elif 500_000_000 <= revenue < 1_000_000_000:
            return "500M - 1B"
        elif 1_000_000_000 <= revenue < 10_000_000_000:
            return "1B - 10B"
        else:
            return "10B+"
    except ValueError:
        return None  # Return None if revenue is not a valid number

In [80]:
def generate_revenue_from_range(revenue_range):
    if pd.isna(revenue_range):
        return None  # Return None for missing values

    revenue_mapping = {
        "0 - 1M": (0, 1_000_000),
        "1M - 10M": (1_000_000, 10_000_000),
        "10M - 50M": (10_000_000, 50_000_000),
        "50M - 100M": (50_000_000, 100_000_000),
        "100M - 250M": (100_000_000, 250_000_000),
        "250M - 500M": (250_000_000, 500_000_000),
        "500M - 1B": (500_000_000, 1_000_000_000),
        "1B - 10B": (1_000_000_000, 10_000_000_000),
        "10B+": (10_000_000_000, 10_000_000_000),  # Use 10B for 10B+
        "11M - 100M": (11_000_000, 100_000_000),  # Incorrect value, but used as requested
        "100M - 1B": (100_000_000, 1_000_000_000),  # Incorrect value, but used as requested
    }

    if revenue_range in revenue_mapping:
        low, high = revenue_mapping[revenue_range]
        return (low + high) / 2  # Return the average of the range
    
    return None  # Return None if the value is not in the mapping

In [73]:
count_clean_revenue_only = prospect_use_cln_df[
    (prospect_use_cln_df["Clean Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue Range"].isna())
].shape[0]

count_clean_revenue_range_only = prospect_use_cln_df[
    (prospect_use_cln_df["Clean Revenue Range"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna())
].shape[0]

print(f"Clean Revenue but missing Clean Revenue Range: {count_clean_revenue_only}")
print(f"Clean Revenue Range but missing Clean Revenue: {count_clean_revenue_range_only}")

Clean Revenue but missing Clean Revenue Range: 42114
Clean Revenue Range but missing Clean Revenue: 3115

In [75]:
mask = prospect_use_cln_df["Clean Revenue Range"].isna()  # Identify rows with missing Clean Revenue Range
prospect_use_cln_df.loc[mask, "Clean Revenue Range"] = prospect_use_cln_df.loc[mask, "Clean Revenue"].apply(generate_revenue_range)

In [81]:
mask = prospect_use_cln_df["Clean Revenue"].isna()  # Identify rows where Clean Revenue is missing
prospect_use_cln_df.loc[mask, "Clean Revenue"] = prospect_use_cln_df.loc[mask, "Clean Revenue Range"].apply(generate_revenue_from_range)

In [82]:
count_clean_revenue_only = prospect_use_cln_df[
    (prospect_use_cln_df["Clean Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue Range"].isna())
].shape[0]

count_clean_revenue_range_only = prospect_use_cln_df[
    (prospect_use_cln_df["Clean Revenue Range"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna())
].shape[0]

print(f"Clean Revenue but missing Clean Revenue Range: {count_clean_revenue_only}")
print(f"Clean Revenue Range but missing Clean Revenue: {count_clean_revenue_range_only}")

Clean Revenue but missing Clean Revenue Range: 0
Clean Revenue Range but missing Clean Revenue: 0

## Fill Clean EMP Size and Clea EMP Range

In [132]:
def generate_emp_size(emp_range):
    if pd.isna(emp_range):
        return None
    emp_ranges = {
        "1 - 10": 5.5,
        "11 - 50": 30.5,
        "51 - 200": 125.5,
        "201 - 500": 350.5,
        "501 - 1,000": 750.5,
        "1,001 - 5,000": 3000.5,
        "5,001 - 10,000": 7500.5,
        "10,000+": 10000
    }
    return emp_ranges.get(emp_range, None)

def generate_emp_range(emp_size):
    if pd.isna(emp_size):
        return None
    emp_size = float(emp_size)
    if emp_size <= 10:
        return "1 - 10"
    elif emp_size <= 50:
        return "11 - 50"
    elif emp_size <= 200:
        return "51 - 200"
    elif emp_size <= 500:
        return "201 - 500"
    elif emp_size <= 1000:
        return "501 - 1,000"
    elif emp_size <= 5000:
        return "1,001 - 5,000"
    elif emp_size <= 10000:
        return "5,001 - 10,000"
    else:
        return "10,000+"

In [133]:
count_clean_size_no_range = prospect_use_cln_df[(prospect_use_cln_df["Clean EMP Size"].notna()) & (prospect_use_cln_df["Clean EMP Range"].isna())].shape[0]
count_clean_range_no_size = prospect_use_cln_df[(prospect_use_cln_df["Clean EMP Range"].notna()) & (prospect_use_cln_df["Clean EMP Size"].isna())].shape[0]

print(f"Count of rows with Clean EMP Size but no Clean EMP Range: {count_clean_size_no_range}")
print(f"Count of rows with Clean EMP Range but no Clean EMP Size: {count_clean_range_no_size}")

Count of rows with Clean EMP Size but no Clean EMP Range: 2
Count of rows with Clean EMP Range but no Clean EMP Size: 154695

In [134]:
prospect_use_cln_df["Clean EMP Size"] = prospect_use_cln_df["Clean EMP Range"].apply(generate_emp_size)
prospect_use_cln_df["Clean EMP Range"] = prospect_use_cln_df["Clean EMP Size"].apply(generate_emp_range)

/tmp/ipykernel_317887/3758263887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean EMP Size"] = prospect_use_cln_df["Clean EMP Range"].apply(generate_emp_size)
/tmp/ipykernel_317887/3758263887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean EMP Range"] = prospect_use_cln_df["Clean EMP Size"].apply(generate_emp_range)

In [135]:
count_clean_size_no_range = prospect_use_cln_df[(prospect_use_cln_df["Clean EMP Size"].notna()) & (prospect_use_cln_df["Clean EMP Range"].isna())].shape[0]
count_clean_range_no_size = prospect_use_cln_df[(prospect_use_cln_df["Clean EMP Range"].notna()) & (prospect_use_cln_df["Clean EMP Size"].isna())].shape[0]

print(f"Count of rows with Clean EMP Size but no Clean EMP Range: {count_clean_size_no_range}")
print(f"Count of rows with Clean EMP Range but no Clean EMP Size: {count_clean_range_no_size}")

Count of rows with Clean EMP Size but no Clean EMP Range: 0
Count of rows with Clean EMP Range but no Clean EMP Size: 0

In [136]:
prospect_use_cln_df.to_csv("/home/darshan/dev/AI_ML_Projects/schneider_electric /data/Schneider Electric Data/Email_Enagement_Data/SE Projects Consolidated File(Clean Revenue, EMP).csv")