In [1]:
import pandas as pd

In [2]:
voicereach_df = pd.read_csv('/home/darshan/Documents/Schneider Electric Data/SE - Voice reach data/voice_reach_data_aggregated.csv')

voicereach_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60457 entries, 0 to 60456
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            60457 non-null  int64
 1   Sales Rep             5509 non-null   object
 2   Campaign              3350 non-null   object
 3   Date                  60457 non-null  object
 4   Call Originate Time   59101 non-null  object
 5   Call Duration         3350 non-null   object
 6   Disposition Code      60457 non-null  object
 7   Company               60451 non-null  object
 8   First Name            60457 non-null  object
 9   Last Name             60457 non-null  object
 10  Job Title             60452 non-null  object
 11  Phone                 60457 non-null  object
 12  Street                3211 non-null   object
 13  City                  57510 non-null  object
 14  State                 53197 non-null  object
 15  Zip                   21404 non-null  object
 16  Country               52564 non-null  object
 17  Email                 60410 non-null  object
 18  Interaction Comments  32645 non-null  object
 19  Unnamed: 18           157 non-null    object
 20  source                60457 non-null  object
 21  conversation          60457 non-null  object
 22  Call End Time         30905 non-null  object
 23  Talk time             1244 non-null   object
 24  Wrap time             420 non-null    object
 25  Direct Phone          5138 non-null   float64
 26  Dialed Number         21141 non-null  object
 27  Address1              53596 non-null  object
 28  Address2              0 non-null      float64
dtypes: float64(2), int64(1), object(26)
memory usage: 13.4+ MB

/tmp/ipykernel_311331/3195545305.py:1: DtypeWarning: Columns (2,5,12,19) have mixed types. Specify dtype option on import or set low_memory=False.
  voicereach_df = pd.read_csv('/home/darshan/Documents/Schneider Electric Data/SE - Voice reach data/voice_reach_data_aggregated.csv')

In [4]:
voicereach_df.sample()

,Unnamed: 0,Sales Rep,Campaign,Date,Call Originate Time,Call Duration,Disposition Code,Company,First Name,Last Name,...,Unnamed: 18,source,conversation,Call End Time,Talk time,Wrap time,Direct Phone,Dialed Number,Address1,Address2
7922,7922,NaN,NaN,2024-07-23,11:36:12,NaN,No RPC (Gatekeeper/ IVR),Rivian,Michael,Barber,...,NaN,../datasets/Schneider_Electric_Data/SE_Voice_r...,VoiceReach Remote,11:36:41,NaN,NaN,NaN,12482198603,13250 N Haggerty Rd,NaN