In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', None)

In [3]:
prospect_df = pd.read_excel('/home/darshan/dev/AI_ML_Projects/schneider_electric /data/Schneider Electric Data/Email_Enagement_Data/SE Projects Consolidated File.xlsx')

prospect_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156043 entries, 0 to 156042
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Project Name            156043 non-null  object
 1   Delivery Status         156043 non-null  object
 2   Company Name            156043 non-null  object
 3   First Name              156042 non-null  object
 4   Middle Name             6033 non-null    object
 5   Last Name               156042 non-null  object
 6   Title                   156043 non-null  object
 7   Level                   142987 non-null  object
 8   Department              142987 non-null  object
 9   Email ID                156040 non-null  object
 10  Domain                  132996 non-null  object
 11  Contact Phone Number    85186 non-null   object
 12  Company Phone Number    127765 non-null  object
 13  Direct Dial             2271 non-null    object
 14  Mobile                  13919 non-null   object
 15  Contact_Street1         3 non-null       object
 16  Contact_Street2         0 non-null       float64
 17  Contact_City            133182 non-null  object
 18  Contact_State           116263 non-null  object
 19  Contact_Zipcode         5183 non-null    object
 20  Country                 155851 non-null  object
 21  Website                 144300 non-null  object
 22  Contact Linkedin URL    113155 non-null  object
 23  Company Street 1        140353 non-null  object
 24  Company Street 2        15463 non-null   object
 25  Company City            149115 non-null  object
 26  Company State           138500 non-null  object
 27  Company Post Code       83733 non-null   object
 28  Company Country         154396 non-null  object
 29  Company LI Profile Url  149434 non-null  object
 30  Industry                154688 non-null  object
 31  SUB Industry            154688 non-null  object
 32  Revenue                 154693 non-null  object
 33  Revenue Range           109464 non-null  object
 34  EMP Range               154698 non-null  object
dtypes: float64(1), object(34)
memory usage: 41.7+ MB

In [4]:
prospect_df.head(5)

  Project Name Delivery Status Company Name First Name Middle Name Last Name                                     Title Level  Department                       Email ID          Domain Contact Phone Number Company Phone Number   Direct Dial        Mobile Contact_Street1  Contact_Street2 Contact_City Contact_State Contact_Zipcode        Country             Website                               Contact Linkedin URL       Company Street 1 Company Street 2 Company City Company State Company Post Code Company Country                     Company LI Profile Url Industry    SUB Industry Revenue Revenue Range EMP Range
0   Microgrids      Delivery 1   Albertsons     Miller         NaN   Roxanne                   Chief Financial Officer   CXO     Finance  miller.roxanne@albertsons.com  albertsons.com         817-568-3646         208-395-6200           NaN           NaN             NaN              NaN    Pocatello            ID             NaN  United States  www.albertsons.com  https://www.linkedin.com/in/miller-roxanne-75a...  250 E Parkcenter Blvd              NaN        Boise            ID               NaN   United States  https://www.linkedin.com/company/24793171   Retail  Grocery Retail  $79.5B          10B+   10,000+
1   Microgrids      Delivery 1   Albertsons    Michael         NaN      Rich                Director Corporate Finance   Dir     Finance    michael.rich@albertsons.com  albertsons.com         208-395-6465         208-395-6200  208-395-6465  208-258-4014             NaN              NaN     Meridian            ID             NaN  United States  www.albertsons.com  https://www.linkedin.com/in/michael-rich-11b26111  250 E Parkcenter Blvd              NaN        Boise            ID               NaN   United States  https://www.linkedin.com/company/24793171   Retail  Grocery Retail  $79.5B          10B+   10,000+
2   Microgrids      Delivery 1   Albertsons     Barach         NaN    Fugitt  Director Financial Planning and Analysis   Dir     Finance   barach.fugitt@albertsons.com  albertsons.com         925-963-5639         208-395-6200           NaN  925-963â€‘5639             NaN              NaN        Boise            ID             NaN  United States  www.albertsons.com           https://www.linkedin.com/in/barachfugitt  250 E Parkcenter Blvd              NaN        Boise            ID               NaN   United States  https://www.linkedin.com/company/24793171   Retail  Grocery Retail  $79.5B          10B+   10,000+
3   Microgrids      Delivery 1   Albertsons       Teri         NaN   Wiggins                          Director Finance   Dir     Finance    teri.wiggins@albertsons.com  albertsons.com         208-395-3660         208-395-6200  208=395-3660  208-863-5953             NaN              NaN        Boise            ID             NaN  United States  www.albertsons.com   https://www.linkedin.com/in/teri-wiggins-801267a  250 E Parkcenter Blvd              NaN        Boise            ID               NaN   United States  https://www.linkedin.com/company/24793171   Retail  Grocery Retail  $79.5B          10B+   10,000+
4   Microgrids      Delivery 1   Albertsons        Kat         NaN      Chin            Sr Director Strategic Sourcing   Dir  Operations        kat.chin@albertsons.com  albertsons.com         510-303-3597         208-395-6200           NaN  510-303â€‘3597             NaN              NaN          NaN           NaN             NaN  United States  www.albertsons.com      https://www.linkedin.com/in/kat-chin-05675539  250 E Parkcenter Blvd              NaN        Boise            ID             83706   United States  https://www.linkedin.com/company/24793171   Retail  Grocery Retail  $79.5B          10B+   10,000+

In [5]:
# List of columns to keep
columns_to_keep = [
    "Email ID", "Project Name", "Delivery Status", "Title", "Level", "Department",
    "Contact_City", "Contact_State", "Contact_Zipcode", "Country",
    "Company City", "Company State", "Company Post Code", "Company Country",
    "Industry", "SUB Industry", "Revenue", "Revenue Range", "EMP Range"
]

# Get removed columns dynamically
removed_columns = list(set(prospect_df.columns) - set(columns_to_keep))

# Create new DataFrame with only the selected columns
prospect_use_cln_df = prospect_df[columns_to_keep]

# Print removed columns
print("Removed Columns:", removed_columns)

Removed Columns: ['Middle Name', 'Last Name', 'Direct Dial', 'First Name', 'Company Name', 'Company LI Profile Url', 'Domain', 'Company Street 2', 'Website', 'Contact_Street2', 'Contact_Street1', 'Contact Linkedin URL', 'Company Phone Number', 'Contact Phone Number', 'Company Street 1', 'Mobile']

In [6]:
prospect_use_cln_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156043 entries, 0 to 156042
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Email ID           156040 non-null  object
 1   Project Name       156043 non-null  object
 2   Delivery Status    156043 non-null  object
 3   Title              156043 non-null  object
 4   Level              142987 non-null  object
 5   Department         142987 non-null  object
 6   Contact_City       133182 non-null  object
 7   Contact_State      116263 non-null  object
 8   Contact_Zipcode    5183 non-null    object
 9   Country            155851 non-null  object
 10  Company City       149115 non-null  object
 11  Company State      138500 non-null  object
 12  Company Post Code  83733 non-null   object
 13  Company Country    154396 non-null  object
 14  Industry           154688 non-null  object
 15  SUB Industry       154688 non-null  object
 16  Revenue            154693 non-null  object
 17  Revenue Range      109464 non-null  object
 18  EMP Range          154698 non-null  object
dtypes: object(19)
memory usage: 22.6+ MB

# Delete Duplicate record
## Using Email value

In [7]:
# Identify categorical columns and count unique values
categorical_counts = {
    col: prospect_use_cln_df[col].nunique()
    for col in prospect_use_cln_df.select_dtypes(include=['object']).columns
}

# Print categorical column names and their unique category count
for col, count in categorical_counts.items():
    print(f"Column: {col}, Unique Categories: {count}")

Column: Email ID, Unique Categories: 154448
Column: Project Name, Unique Categories: 14
Column: Delivery Status, Unique Categories: 7
Column: Title, Unique Categories: 71919
Column: Level, Unique Categories: 6
Column: Department, Unique Categories: 11
Column: Contact_City, Unique Categories: 6549
Column: Contact_State, Unique Categories: 119
Column: Contact_Zipcode, Unique Categories: 973
Column: Country, Unique Categories: 4
Column: Company City, Unique Categories: 877
Column: Company State, Unique Categories: 150
Column: Company Post Code, Unique Categories: 849
Column: Company Country, Unique Categories: 45
Column: Industry, Unique Categories: 24
Column: SUB Industry, Unique Categories: 109
Column: Revenue, Unique Categories: 614
Column: Revenue Range, Unique Categories: 10
Column: EMP Range, Unique Categories: 24

# Cleaning

## Clean Revuenue

In [8]:
import re

def clean_revenue(value):
    """Cleans revenue values by converting valid values to numbers and marking invalid values as NaN."""
    if isinstance(value, (int, float)):  # If already a number, return as is
        return value
    if isinstance(value, str):
        value = value.replace(",", "").replace("$", "").strip()  # Remove symbols and spaces
        match = re.fullmatch(r"(\d+(\.\d+)?)\s*([MB]?)", value)  # Allow space before 'M' or 'B'
        if match:
            num, _, suffix = match.groups()
            multipliers = {"M": 1_000_000, "B": 1_000_000_000}
            return float(num) * multipliers.get(suffix, 1)  # Convert using multiplier
    return None  # Invalid values become NaN

In [9]:
# Apply function to Revenue column
prospect_use_cln_df["Clean Revenue"] = prospect_use_cln_df["Revenue"].apply(clean_revenue)

/tmp/ipykernel_948434/1765387001.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean Revenue"] = prospect_use_cln_df["Revenue"].apply(clean_revenue)

In [10]:
filtered_df = prospect_use_cln_df[(prospect_use_cln_df["Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna())]

filtered_df["Revenue"].nunique()

11

In [11]:
filtered_df = prospect_use_cln_df[(prospect_use_cln_df["Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna())]

filtered_df["Revenue Range"].nunique()

0

In [12]:
prospect_use_cln_df.loc[
    (prospect_use_cln_df["Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna()), 
    "Revenue Range"
] = prospect_use_cln_df["Revenue"]

In [13]:
filtered_df = prospect_use_cln_df[(prospect_use_cln_df["Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna())]

filtered_df["Revenue Range"].nunique()

11

## Clean Revenue Range

In [14]:
prospect_use_cln_df['Revenue Range'].nunique()

13

In [15]:
prospect_use_cln_df['Revenue Range'].unique()

array(['10B+', '10M - 50M', '100M - 250M', '1B - 10B', '1M - 10M',
       '250M - 500M', '500M - 1B', '50M - 100M', nan, '0 - 1M', '$10B+',
       '100M - 1B', '$500M - $1B', '$11M - $100M'], dtype=object)

In [16]:
import re

def clean_revenue_range(value):
    if isinstance(value, str):
        value = value.replace("$", "").strip()  # Remove $ sign and strip spaces
        match = re.match(r"^\d+M \- \d+M$|^\d+M \- \d+B$|^\d+B \- \d+B$|^\d+B\+$|^0 \- 1M$|^\d+M \- \d+B$", value)
        if match:
            return value  # Return valid revenue range
    return None  # Invalid values converted to None

In [17]:
# Apply function to Revenue Range column
prospect_use_cln_df["Clean Revenue Range"] = prospect_use_cln_df["Revenue Range"].apply(clean_revenue_range)

/tmp/ipykernel_948434/1615421219.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean Revenue Range"] = prospect_use_cln_df["Revenue Range"].apply(clean_revenue_range)

In [18]:
prospect_use_cln_df[prospect_use_cln_df["Revenue Range"].notna() & prospect_use_cln_df["Clean Revenue Range"].isna()].head(5)

Empty DataFrame
Columns: [Email ID, Project Name, Delivery Status, Title, Level, Department, Contact_City, Contact_State, Contact_Zipcode, Country, Company City, Company State, Company Post Code, Company Country, Industry, SUB Industry, Revenue, Revenue Range, EMP Range, Clean Revenue, Clean Revenue Range]
Index: []

In [19]:
prospect_use_cln_df['Clean Revenue Range'].nunique()

11

In [20]:
prospect_use_cln_df.shape

(156043, 21)

In [21]:
prospect_use_cln_df[prospect_use_cln_df["Clean Revenue Range"].isin(["11M - 100M", "100M - 1B"])][["Clean Revenue Range", "Clean Revenue", "Revenue"]].info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 137187 to 138748
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Clean Revenue Range  37 non-null     object
 1   Clean Revenue        0 non-null      float64
 2   Revenue              37 non-null     object
dtypes: float64(1), object(2)
memory usage: 1.2+ KB

## Clean Employee Range

In [22]:
prospect_use_cln_df["EMP Range"].nunique()

24

In [23]:
prospect_use_cln_df["EMP Range"].unique()

array(['10,000+', '51 - 200', '201 - 500', '11-50', '1,001 - 5,000',
       '5,001 - 10,000', '501 - 1,000', '1-10', nan, '201-500', '51-200',
       '501-1,000', '1 - 10', '11 - 50', '51 - 200 ', '1,001 - 5,000 ',
       '201 - 500 ', '501 - 1,000 ', '10,001+', '5,001-10,000',
       '1,001-5,000', datetime.datetime(1950, 11, 1, 0, 0), '10000+',
       '501-1000', 3300], dtype=object)

In [24]:
def clean_emp_range(value):
    if pd.isna(value) or isinstance(value, datetime):
        return None

    value = str(value).strip().replace(",", "")
    value = str(value).strip().replace(" ", "")

    if value in {"10000+", "10001+"}:
        return "10,000+"
    
    emp_ranges = {
        "1 - 10": ["1-10", "1 - 10"],
        "11 - 50": ["11-50", "11 - 50"],
        "51 - 200": ["51-200", "51 - 200", "51 - 200 "],
        "201 - 500": ["201-500", "201 - 500", "201 - 500 "],
        "501 - 1,000": ["501-1000", "501-1,000", "501 - 1,000", "501 - 1,000 "],
        "1,001 - 5,000": ["1001-5000", "1,001-5,000", "1,001 - 5,000", "1,001 - 5,000 ", "1,001 - 5,000"],
        "5,001 - 10,000": ["5001-10000", "5,001-10,000", "5,001 - 10,000"],
    }

    for clean_range, variations in emp_ranges.items():
        if value in variations:
            return clean_range

    return None


def clean_emp_size(value):
    if isinstance(value, (int, float)):
        return value
    return np.nan

In [25]:
prospect_use_cln_df["Clean EMP Range"] = prospect_use_cln_df["EMP Range"].apply(clean_emp_range)

/tmp/ipykernel_948434/1695644433.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean EMP Range"] = prospect_use_cln_df["EMP Range"].apply(clean_emp_range)

In [26]:
prospect_use_cln_df["Clean EMP Range"].unique()

array(['10,000+', '51 - 200', '201 - 500', '11 - 50', '1,001 - 5,000',
       '5,001 - 10,000', '501 - 1,000', '1 - 10', None], dtype=object)

In [27]:
filtered_df = prospect_use_cln_df[(prospect_use_cln_df["EMP Range"].notna()) & (prospect_use_cln_df["Clean EMP Range"].isna())]
filtered_df.head(5)

                     Email ID    Project Name Delivery Status                                   Title  Level  Department Contact_City Contact_State Contact_Zipcode Country      Company City Company State Company Post Code Company Country           Industry                SUB Industry      Revenue Revenue Range            EMP Range  Clean Revenue Clean Revenue Range Clean EMP Range
138355         mlobato@3m.com  HQL for Mexico      Delivery 3                Manager Business Finance    Mgr     Finance  Mexico City           NaN             NaN  Mexico        Saint Paul     Minnesota             55144   United States  Consumer Services          Photography Studio     1M - 10M      1M - 10M  1950-11-01 00:00:00            NaN            1M - 10M            None
139562     rcaamal@xcaret.com  HQL for Mexico      Delivery 5            Maintenance Leadership Xplor  Staff  Operations          NaN           NaN             NaN  Mexico  Playa Del Carmen           NaN             77710          Mexico        Hospitality  Travel Agencies & Services  100M - 250M   100M - 250M                 3300            NaN         100M - 250M            None
139563  acaballero@xcaret.com  HQL for Mexico      Delivery 5  Deputy Manager of Maritime Maintenance    Mgr  Operations          NaN  Quintana Roo             NaN  Mexico  Playa Del Carmen           NaN             77710          Mexico        Hospitality  Travel Agencies & Services  100M - 250M   100M - 250M                 3300            NaN         100M - 250M            None

In [28]:
prospect_use_cln_df["Clean EMP Size"] = prospect_use_cln_df["EMP Range"].apply(clean_emp_size)

/tmp/ipykernel_948434/2319274900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean EMP Size"] = prospect_use_cln_df["EMP Range"].apply(clean_emp_size)

In [29]:
prospect_use_cln_df["Clean EMP Size"].count()

np.int64(2)

## Country

In [30]:
prospect_use_cln_df['Country'].value_counts()

Country
United States     150946
Mexico              3115
United Kingdom      1703
Canada                87
Name: count, dtype: int64

In [31]:
prospect_use_cln_df["Clean Country"] = prospect_use_cln_df["Country"].str.strip()

/tmp/ipykernel_948434/2908213790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean Country"] = prospect_use_cln_df["Country"].str.strip()

In [32]:
prospect_use_cln_df['Clean Country'].value_counts()

Clean Country
United States     150946
Mexico              3115
United Kingdom      1703
Canada                87
Name: count, dtype: int64

In [33]:
prospect_use_cln_df['Company Country'].nunique()

45

In [34]:
prospect_use_cln_df['Company Country'].value_counts()

Company Country
United States                                           144811
United Kingdom                                            2542
Mexico                                                    1134
United Kingdom (UK)                                        972
France                                                     901
Netherlands                                                868
Canada                                                     733
Germany                                                    656
Switzerland                                                427
United Kingdom Uk                                          351
Sweden                                                     183
Spain                                                      178
Australia                                                  146
Japan                                                      109
Romania                                                     58
Colombia                                                    50
Denmark                                                     44
United Kingdom of Great Britain and Northern Ireland        44
Austria                                                     37
Belgium                                                     27
India                                                       18
Bermuda                                                     16
Italy                                                       10
Brazil                                                       9
Israel                                                       8
Luxembourg                                                   8
China                                                        8
Poland                                                       7
Ireland                                                      7
Singapore                                                    5
Zwitserland Switzerland                                      4
Indonesia                                                    3
Philippines                                                  3
Mexico                                                       3
Norway                                                       2
Chile                                                        2
United Arab Emirates                                         2
El Salvador                                                  2
Argentina                                                    2
Taiwan                                                       1
Panama                                                       1
Thailand                                                     1
Germany                                                      1
Saudi Arabia                                                 1
Kong                                                         1
Name: count, dtype: int64

In [35]:
def clean_country_name(country):
    if not isinstance(country, str):
        return country  # Return as is if it's not a string
    
    country = country.strip()
    
    replacements = {
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "United Kingdom Uk": "United Kingdom",
        "United Kingdom (UK)": "United Kingdom",
        "Zwitserland Switzerland": "Switzerland"
    }
    
    return replacements.get(country, country)

In [36]:
# Apply the function to each row
prospect_use_cln_df["Clean Company Country"] = prospect_use_cln_df["Company Country"].apply(clean_country_name)

/tmp/ipykernel_948434/3439205942.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean Company Country"] = prospect_use_cln_df["Company Country"].apply(clean_country_name)

In [37]:
prospect_use_cln_df['Clean Company Country'].nunique()

39

In [38]:
prospect_use_cln_df['Clean Company Country'].value_counts()

Clean Company Country
United States           144811
United Kingdom            3909
Mexico                    1137
France                     901
Netherlands                868
Canada                     733
Germany                    657
Switzerland                431
Sweden                     183
Spain                      178
Australia                  146
Japan                      109
Romania                     58
Colombia                    50
Denmark                     44
Austria                     37
Belgium                     27
India                       18
Bermuda                     16
Italy                       10
Brazil                       9
Israel                       8
China                        8
Luxembourg                   8
Ireland                      7
Poland                       7
Singapore                    5
Indonesia                    3
Philippines                  3
United Arab Emirates         2
Norway                       2
El Salvador                  2
Argentina                    2
Chile                        2
Taiwan                       1
Panama                       1
Thailand                     1
Saudi Arabia                 1
Kong                         1
Name: count, dtype: int64

## Industry

In [39]:
prospect_use_cln_df['Industry'].value_counts()

Industry
Manufacturing                                        91158
Retail                                               16604
Government                                           12997
Electricity, Oil & Gas                               11717
Transportation                                        7309
Energy, Utilities & Waste                             3325
Hospitality                                           2916
Construction                                          2611
Business Services                                     2434
Agriculture                                           1595
Finance                                                566
Software                                               371
Hospitals & Physicians Clinics                         312
Holding Companies & Conglomerates                      307
Education                                              173
Insurance                                               80
Organizations                                           68
Automation Machinery Manufacturing                      48
Healthcare                                              31
Minerals & Mining                                       27
Consumer Services                                       22
Electricity, Oil & Gas, Energy, Utilities & Waste        7
Law Firms & Legal Services                               5
Manufacturing                                            5
Name: count, dtype: int64

In [40]:
prospect_use_cln_df[prospect_use_cln_df["Industry"] == 'Electricity, Oil & Gas, Energy, Utilities & Waste']['SUB Industry'].value_counts()

SUB Industry
Energy, Utilities & Waste    7
Name: count, dtype: int64

In [41]:
prospect_use_cln_df[prospect_use_cln_df["Industry"] == 'Hospitals & Physicians Clinics']['SUB Industry'].value_counts()

SUB Industry
Medical Specialists    304
Dental Offices           8
Name: count, dtype: int64

In [42]:
prospect_use_cln_df[prospect_use_cln_df["Industry"] == 'Healthcare']['SUB Industry'].value_counts()

SUB Industry
Hosspital    31
Name: count, dtype: int64

In [43]:
def clean_industry(industry):
    if pd.isna(industry):
        return industry
    industry_mapping = {
        "Electricity, Oil & Gas, Energy, Utilities & Waste": "Energy, Utilities & Waste"
    }
    industry = industry.strip()
    return industry_mapping.get(industry, industry)

In [44]:
prospect_use_cln_df["Clean Industry"] = prospect_use_cln_df["Industry"].apply(clean_industry)

/tmp/ipykernel_948434/1659605596.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean Industry"] = prospect_use_cln_df["Industry"].apply(clean_industry)

In [45]:
prospect_use_cln_df["Clean Industry"].unique()

array(['Retail', 'Construction', 'Energy, Utilities & Waste',
       'Transportation', 'Business Services', 'Manufacturing',
       'Education', 'Software', 'Government', 'Hospitality', 'Insurance',
       'Hospitals & Physicians Clinics',
       'Holding Companies & Conglomerates', nan, 'Minerals & Mining',
       'Consumer Services', 'Automation Machinery Manufacturing',
       'Organizations', 'Law Firms & Legal Services', 'Agriculture',
       'Electricity, Oil & Gas', 'Finance', 'Healthcare'], dtype=object)

## Level

In [46]:
prospect_use_cln_df['Level'].value_counts()

Level
Mgr      91709
Dir      23198
Staff    20341
VP        5977
CXO       1684
Head        78
Name: count, dtype: int64

In [47]:
prospect_use_cln_df["Clean Level"] = prospect_use_cln_df["Level"].str.strip()

/tmp/ipykernel_948434/358976405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean Level"] = prospect_use_cln_df["Level"].str.strip()

In [48]:
prospect_use_cln_df['Clean Level'].value_counts()

Clean Level
Mgr      91709
Dir      23198
Staff    20341
VP        5977
CXO       1684
Head        78
Name: count, dtype: int64

## Department

In [49]:
prospect_use_cln_df['Department'].value_counts()

Department
Operations                         100467
IT                                  31143
Engineering                          4496
Finance                              1910
After Sales Service/Support          1540
Executive                            1306
Engineering                           743
IT Security                           699
Regulatory/Corporate Compliance       539
Sales                                 139
Marketing                               5
Name: count, dtype: int64

In [50]:
prospect_use_cln_df["Clean Department"] = prospect_use_cln_df["Department"].str.strip()

/tmp/ipykernel_948434/2890358703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean Department"] = prospect_use_cln_df["Department"].str.strip()

In [51]:
prospect_use_cln_df['Clean Department'].value_counts()

Clean Department
Operations                         100467
IT                                  31143
Engineering                          5239
Finance                              1910
After Sales Service/Support          1540
Executive                            1306
IT Security                           699
Regulatory/Corporate Compliance       539
Sales                                 139
Marketing                               5
Name: count, dtype: int64

# Fill Empty Value

## Fill Clean Revuene and Clean Revuene Range

In [52]:
def generate_revenue_range(revenue):
    if pd.isna(revenue):
        return None  # Return None for missing values

    try:
        revenue = float(revenue)  # Ensure revenue is a numeric value
        if revenue < 1_000_000:
            return "0 - 1M"
        elif 1_000_000 <= revenue < 10_000_000:
            return "1M - 10M"
        elif 10_000_000 <= revenue < 50_000_000:
            return "10M - 50M"
        elif 50_000_000 <= revenue < 100_000_000:
            return "50M - 100M"
        elif 100_000_000 <= revenue < 250_000_000:
            return "100M - 250M"
        elif 250_000_000 <= revenue < 500_000_000:
            return "250M - 500M"
        elif 500_000_000 <= revenue < 1_000_000_000:
            return "500M - 1B"
        elif 1_000_000_000 <= revenue < 10_000_000_000:
            return "1B - 10B"
        else:
            return "10B+"
    except ValueError:
        return None  # Return None if revenue is not a valid number

In [53]:
def generate_revenue_from_range(revenue_range):
    if pd.isna(revenue_range):
        return None  # Return None for missing values

    revenue_mapping = {
        "0 - 1M": (0, 1_000_000),
        "1M - 10M": (1_000_000, 10_000_000),
        "10M - 50M": (10_000_000, 50_000_000),
        "50M - 100M": (50_000_000, 100_000_000),
        "100M - 250M": (100_000_000, 250_000_000),
        "250M - 500M": (250_000_000, 500_000_000),
        "500M - 1B": (500_000_000, 1_000_000_000),
        "1B - 10B": (1_000_000_000, 10_000_000_000),
        "10B+": (10_000_000_000, 10_000_000_000),  # Use 10B for 10B+
        "11M - 100M": (11_000_000, 100_000_000),  # Incorrect value, but used as requested
        "100M - 1B": (100_000_000, 1_000_000_000),  # Incorrect value, but used as requested
    }

    if revenue_range in revenue_mapping:
        low, high = revenue_mapping[revenue_range]
        return (low + high) / 2  # Return the average of the range
    
    return None  # Return None if the value is not in the mapping

In [54]:
count_clean_revenue_only = prospect_use_cln_df[
    (prospect_use_cln_df["Clean Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue Range"].isna())
].shape[0]

count_clean_revenue_range_only = prospect_use_cln_df[
    (prospect_use_cln_df["Clean Revenue Range"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna())
].shape[0]

print(f"Clean Revenue but missing Clean Revenue Range: {count_clean_revenue_only}")
print(f"Clean Revenue Range but missing Clean Revenue: {count_clean_revenue_range_only}")

Clean Revenue but missing Clean Revenue Range: 42114
Clean Revenue Range but missing Clean Revenue: 3115

In [55]:
mask = prospect_use_cln_df["Clean Revenue Range"].isna()  # Identify rows with missing Clean Revenue Range
prospect_use_cln_df.loc[mask, "Clean Revenue Range"] = prospect_use_cln_df.loc[mask, "Clean Revenue"].apply(generate_revenue_range)

In [56]:
mask = prospect_use_cln_df["Clean Revenue"].isna()  # Identify rows where Clean Revenue is missing
prospect_use_cln_df.loc[mask, "Clean Revenue"] = prospect_use_cln_df.loc[mask, "Clean Revenue Range"].apply(generate_revenue_from_range)

In [57]:
count_clean_revenue_only = prospect_use_cln_df[
    (prospect_use_cln_df["Clean Revenue"].notna()) & (prospect_use_cln_df["Clean Revenue Range"].isna())
].shape[0]

count_clean_revenue_range_only = prospect_use_cln_df[
    (prospect_use_cln_df["Clean Revenue Range"].notna()) & (prospect_use_cln_df["Clean Revenue"].isna())
].shape[0]

print(f"Clean Revenue but missing Clean Revenue Range: {count_clean_revenue_only}")
print(f"Clean Revenue Range but missing Clean Revenue: {count_clean_revenue_range_only}")

Clean Revenue but missing Clean Revenue Range: 0
Clean Revenue Range but missing Clean Revenue: 0

## Fill Clean EMP Size and Clea EMP Range

In [58]:
def generate_emp_size(emp_range):
    if pd.isna(emp_range):
        return None
    emp_ranges = {
        "1 - 10": 5.5,
        "11 - 50": 30.5,
        "51 - 200": 125.5,
        "201 - 500": 350.5,
        "501 - 1,000": 750.5,
        "1,001 - 5,000": 3000.5,
        "5,001 - 10,000": 7500.5,
        "10,000+": 10000
    }
    return emp_ranges.get(emp_range, None)

def generate_emp_range(emp_size):
    if pd.isna(emp_size):
        return None
    emp_size = float(emp_size)
    if emp_size <= 10:
        return "1 - 10"
    elif emp_size <= 50:
        return "11 - 50"
    elif emp_size <= 200:
        return "51 - 200"
    elif emp_size <= 500:
        return "201 - 500"
    elif emp_size <= 1000:
        return "501 - 1,000"
    elif emp_size <= 5000:
        return "1,001 - 5,000"
    elif emp_size <= 10000:
        return "5,001 - 10,000"
    else:
        return "10,000+"

In [59]:
count_clean_size_no_range = prospect_use_cln_df[(prospect_use_cln_df["Clean EMP Size"].notna()) & (prospect_use_cln_df["Clean EMP Range"].isna())].shape[0]
count_clean_range_no_size = prospect_use_cln_df[(prospect_use_cln_df["Clean EMP Range"].notna()) & (prospect_use_cln_df["Clean EMP Size"].isna())].shape[0]

print(f"Count of rows with Clean EMP Size but no Clean EMP Range: {count_clean_size_no_range}")
print(f"Count of rows with Clean EMP Range but no Clean EMP Size: {count_clean_range_no_size}")

Count of rows with Clean EMP Size but no Clean EMP Range: 2
Count of rows with Clean EMP Range but no Clean EMP Size: 154695

In [60]:
prospect_use_cln_df["Clean EMP Size"] = prospect_use_cln_df["Clean EMP Range"].apply(generate_emp_size)
prospect_use_cln_df["Clean EMP Range"] = prospect_use_cln_df["Clean EMP Size"].apply(generate_emp_range)

/tmp/ipykernel_948434/3758263887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean EMP Size"] = prospect_use_cln_df["Clean EMP Range"].apply(generate_emp_size)
/tmp/ipykernel_948434/3758263887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect_use_cln_df["Clean EMP Range"] = prospect_use_cln_df["Clean EMP Size"].apply(generate_emp_range)

In [61]:
count_clean_size_no_range = prospect_use_cln_df[(prospect_use_cln_df["Clean EMP Size"].notna()) & (prospect_use_cln_df["Clean EMP Range"].isna())].shape[0]
count_clean_range_no_size = prospect_use_cln_df[(prospect_use_cln_df["Clean EMP Range"].notna()) & (prospect_use_cln_df["Clean EMP Size"].isna())].shape[0]

print(f"Count of rows with Clean EMP Size but no Clean EMP Range: {count_clean_size_no_range}")
print(f"Count of rows with Clean EMP Range but no Clean EMP Size: {count_clean_range_no_size}")

Count of rows with Clean EMP Size but no Clean EMP Range: 0
Count of rows with Clean EMP Range but no Clean EMP Size: 0

In [66]:
prospect_use_cln_df = prospect_use_cln_df.rename(columns={"Email ID": "Email"})

In [67]:
prospect_use_cln_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156043 entries, 0 to 156042
Data columns (total 28 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Email                  156040 non-null  object
 1   Project Name           156043 non-null  object
 2   Delivery Status        156043 non-null  object
 3   Title                  156043 non-null  object
 4   Level                  142987 non-null  object
 5   Department             142987 non-null  object
 6   Contact_City           133182 non-null  object
 7   Contact_State          116263 non-null  object
 8   Contact_Zipcode        5183 non-null    object
 9   Country                155851 non-null  object
 10  Company City           149115 non-null  object
 11  Company State          138500 non-null  object
 12  Company Post Code      83733 non-null   object
 13  Company Country        154396 non-null  object
 14  Industry               154688 non-null  object
 15  SUB Industry           154688 non-null  object
 16  Revenue                154693 non-null  object
 17  Revenue Range          112579 non-null  object
 18  EMP Range              154698 non-null  object
 19  Clean Revenue          154693 non-null  float64
 20  Clean Revenue Range    154693 non-null  object
 21  Clean EMP Range        154695 non-null  object
 22  Clean EMP Size         154695 non-null  float64
 23  Clean Country          155851 non-null  object
 24  Clean Company Country  154396 non-null  object
 25  Clean Industry         154688 non-null  object
 26  Clean Level            142987 non-null  object
 27  Clean Department       142987 non-null  object
dtypes: float64(2), object(26)
memory usage: 33.3+ MB

In [69]:
prospect_use_cln_df.to_csv("/home/darshan/dev/AI_ML_Projects/schneider_electric /data/Schneider Electric Data/Email_Enagement_Data/SE Projects Consolidated File(Clean).csv")